.footer {
    @include colors($text-color: $white, $bg-color: $bg-footer);
    @include flex($perpendicular-alignment: center, $direction: column, $child-grow: 1);
    @include basic-container;

    & > * {
        padding: $space-xs;
        width: 100%;
        max-width: 800px;
    }
}

%flex-ul {
    ul {
        @include flex($direction-alignment: space-around);
    }
}

.footer-partners {
    text-align: center;
    font-size: $text-sm;
}

.footer-partnerLogos {
    @extend %flex-ul;
    img {
        height: $space-xl;
        border-radius: $space-xxs;
    }
}

.footer-division {
    width: 100%;
    padding: $space-xs;
    border-bottom: 1px solid $gray;
}

.footer-links {
    @extend %flex-ul;
    li {
        padding: $space-xxs;
        font-size: $text-sm;
    }
}

.footer-credits {
    text-align: center;
    font-size: $text-sm;
    @include colors($text-color: $red);
}