.navigation {
  margin: $space-xxs 0;

  &-links {
    @include flex;
    // @include symetric-wrap(6, 150px, 5px);

    & > li {
      text-align: center;
      flex-basis: 150px;
      // @include border(3px);
      // @include grid-column(1, 5, 150px);

      @media (max-width: $screen-tablet - 1) {
        // Trigger hamburger menu
      }
    }

  }

  &-listItem_alignedRight {
    margin-left: auto;
  }

}