// -------------------------------------
// Basic components
// -------------------------------------
.styleguide {
    @include basic-container ($padding: 0, $distance-from-sibling: $space-md);
} 

.container {
    @include basic-container ($padding: $space-xs, $distance-from-sibling: $space-xs);
}

.panelTitle {
    @include colors(#999, #333);
    font-family: 'Bitter', cursive;
    width: 100%;
    padding: $space-xs;
    border-bottom: make-border(1px, #aaa);
}

.panelItems {
    @include basic-container ($padding: $space-xxs, $distance-from-sibling: 0);
}

// -------------------------------------
// Typography
// -------------------------------------
.typography {
    @include text-spacing ($space-sm);
}

// -------------------------------------
// Truncated text
// -------------------------------------
.truncated p {
    font-size: 18px;
    @include truncate (225px);
}
.gradient p {
    font-size: 18px;
    @include truncate ($limit: 255px, $gradient-color: #fff);
}

// -------------------------------------
// Buttons
// -------------------------------------
.buttons {
    @include flex ($jc: space-around, $ai: center);
    & > * {
        margin: $space-xxs;
    }
}

.button {
    & {
        @include button;
    }
    &-large {
        @include button ($size: large);
    }
    &-small {
        @include button ($size: small);
    }
    &-round {
        @include round;
        @include button;
    }
    &_info {
        @include button ($style: info);
    }
    &_alert {
        @include button ($style: alert);
    }
    &_warning {
        @include button ($style: warning);
    }
}

// -------------------------------------
// Menu navigation
// -------------------------------------
.menu {
    @include menu ($item-width: 200px);
}

.item_hasDropdown {
    @include has-dropdown();

    span {
        font-style: italic;
    }
}

.dropdown {
    @include basic-container;
    @include colors(#fff, #111);
}

// -------------------------------------
// Widget and Arrow
// -------------------------------------
.item_hasWidget {
    @include has-dropdown($horizontally-center-dropdown: true);
    display: inline-block;
    margin: 0 $space-xl;
}
.widget {
    margin-top: 15px;
    @include arrow('top','center', 10px, #000);
}

.widget_clip {
    @include arrow-mask;
}

// -------------------------------------
//Container
// -------------------------------------
.basicContainer {
    @include basic-container ($distance-from-sibling: $space-xs) {
        max-width: 500px;
        @include border($radius: 0);
    }
}

// -------------------------------------
// Container with negative margins
// -------------------------------------
.blocksContainer {
    @include border($radius: 0);
    max-width: 500px;
}

.blocksContainer-blocks {
    @include blocks-container ($margin-between-children: $space-xxs) {
        @include flex ($child-grow: 1);
    }

}

.block {
    @include colors(#fff, #d40504);
    padding: $component-padding;
    text-align: center;
}

// -------------------------------------
// Container with limited height
// -------------------------------------
.limitedContainer {
    @include basic-container ($distance-from-sibling: $space-md) {
        @include border($radius: 0);
        max-width: 500px;
    }
    @include limited-container ($height: 150px);
}

// -------------------------------------
// Carousel
// -------------------------------------
.carousel {
    @include carousel("http://placekitten.com/1050/240") {
        @include flex(flex-start, center);
    }
}

.carousel-title {
    @include basic-container ($distance-from-sibling: $space-md) {
        @include backboard;
    }
    margin: $space-lg;
}

.button-cta {
    @include button ($size: regular, $style: alert);
}

// -------------------------------------
// Accordion
// -------------------------------------
.accordion {
    @include accordion ($content-height: auto);
    max-width: 500px;
}

.accordion-title {
    @include colors(#fff, #d40504);
    padding: $space-xs;
    border-bottom: 1px solid white;
}

// -------------------------------------
// Modal
// -------------------------------------
.testModal {
    @include modal($has-overlay: true, $max-width: 500px, $modal-padding: $space-md) {
        @include basic-container ($padding: null, $distance-from-sibling: $space-xs);
    }
}

.modal-content {
    font-size: $text-sm;
}

.modal-openButton {
    @include button ($size: large, $style: info);
}

.modal-closeButton {
    @include button ($size: regular, $style: warning);
}

// -------------------------------------
// Checkbox
// -------------------------------------
.checkboxes {
    @include basic-container ($padding: $space-xs, $distance-from-sibling: $space-xs);
}
.checkbox {
    @include checkbox();
    
    &_heart {
        @include checkbox($size: 20px, $checkmark: '\e9da', $custom-font: 'icons');
    }
    
    &_svg {
        @include checkbox($size: 24px, $checkmark: url('../images/svg/close-button.svg'));
    }

    &_custom {
        @include checkbox($size: 28px, $checkmark: " ") {
            width: 50%;
            height: 50%;
            background-color: $checkbox-mark-color;
            transform: rotate(45deg);
            @include border;
            @include absolute($top: 6px, $left: 7px);
        }
    }
}