$default-border-radius: 5px !default;
$default-grid-columns: 12 !default;
$default-gap-size: 0 !default;

// Modal
$default-modal-overlay: rgba(0,0,0,0.6);
$default-modal-padding: 0;
$default-modal-shadow: 2px 2px 5px rgba(0,0,0,0.6);
