.purchasePanel-header {
    @include panel-header ($bg-color: $blue, $spacing: 0.75em) {
        &:after {
            content: "extra header content";
        }
    }
}

.purchasePanel-productsCarousel {
    @include flex($child-grow: 1);
    // padding: $space-xs;
    & > * {
        flex-basis: 300px;
    }
    @include blocks-container ($margin-between-children: $space-xxs);
}

.product {
    // margin: $space-xxs;
    padding: $space-xs;
    @include colors($bg-color: $silver);
    @include flex($direction: column, $justify: space-between);
}

.product-text {

}

.product-title {
    font-size: $text-lg
}

.product-description {
    margin: $space-xs 0;
}

.product-buySection {
    @include flex ($justify: flex-end, $align: center);
}

.product-price {
    font-size: $text-lg;
    font-weight: bold;
    margin: $space-xs-fixed 0;
}

.product-buyButton {
    margin-left: $space-sm-fixed;
    @include button(regular, info) {
        @include round;
    };
}