.header-menu {
  margin: $space-xxs 0;
}

.header-menuLinks {
  @include menu;
}

.header-link_alignedRight {
  @include mq(desktop) {
    margin-left: auto;
  }
}

.header-link_hasSubMenu {
  @include has-dropdown();
}

.subMenu {
  @include colors(#eee, #111);

  & > li {
    padding: $space-xxs $space-md;
    & > * {
      display: block;
    }
  }
  
}