.pageContent {
    @include flex($child-grow: 1);
    @include push-next-down;
}

.mainContent {
    flex-basis: 1000px;
    flex-grow: 2;
    @include basic-container;
}

.sideContent {
    flex-basis: 200px;
    @include basic-container;
}