a {
    color: inherit;
    text-decoration: none;
    &:visited {
        color: inherit;
    }
}

button {
    @include round;
    padding: $space-xs $space-sm;
    background-color: $navy;
    color: #fff;
    border: none;
}

.modal {

}